{
  "extends": "@boilerz/eslint-config",
  "rules": {
    "no-bitwise": "off",
    "import/prefer-default-export": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "no-await-in-loop": "off",
    "class-methods-use-this": "off"
  }
}
